.header {
	/* position: absolute;
	top: 0px;
	left: 0px;
	z-index: 1; */
	width: 100%;
	background-color: #FF0000;
}

.header__container {
	/* display: flex; */
	width: calc(100% - 160px);
	margin: 0px auto;
}

.title {
	margin: 0px;
	padding: 0px;
	text-align: center;
	background-color: #FFF;
}