.definitions {
	width: 100%;
	margin-top: 50px;
	background-color: #FF0000;
}

.definitions__container {
	width: calc(100% - 160px);
	margin: 0px auto;
	background-color: #FFF;
	padding: 0px;
}

.definition__list {
	/* list-style: none; */
	/* padding-left: 30px; */
	font-size: 18px;
}
